{% extends 'base.html' %}
{% load cropping %}
{% block imgCabecera %}
    <style>
        header#head {
            background-image: url('{{ cabecera.imagen.url }}');
        }
    </style>
{% endblock %}
{% block contenido %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <h2 class="text-center">TITULO 1</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for noticia in lista_noticias %}
                        <tr>
                            <th scope="row">{{ noticia.pk }}</th>
                            <td>{{ noticia.titulo | slice:20 }}...</td>
                            <td>{{ noticia.estado }}</td>
                            <td>{{ noticia.fechap }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p class="text-center">
                    {% if lista_noticias.has_other_pages %}
                        <ul class="pagination">
                            {% if lista_noticias.has_previous %}
                                <li><a href="?page={{ lista_noticias.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in lista_noticias.paginator.page_range %}
                                {% if lista_noticias.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if lista_noticias.has_next %}
                                <li><a href="?page={{ lista_noticias.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </p>
            </div>
            <div class="col-md-3">
                <h2 class="text-center">ÚLTIMAS NOTICIAS</h2>
                <div class="row">
                    {% for noticia in lista_recomendaciones %}
                        <div class="col-md-6">
                            <img width="100%" src="{% cropped_thumbnail noticia 'imagen_red2' %}" alt="">
                            <p>{{ noticia.titulo | slice:45 }}{% if noticia.titulo|length > 45 %}...{% endif %}</p>
                        </div>
                        {{ form.as_p }}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}