{% extends 'base.html' %}
{% load static %}
{% load cropping %}
{% block metadatos %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{noticias.descripcion}}" />
	<meta name="keywords" content="Empresa eléctrica, empresa eléctrica azogues, empresa eléctrica." />
	<link rel="shortcut icon" href="images/logo.png"/>
	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="{{noticias.titulo}}" />
	<meta property="og:image" content="{{noticias.imagen.url}}" />
	<meta property="og:url" content="http//eea.gob.ec{{request.get_full_path}}" />
	<meta property="og:site_name" content="Empresa Eléctrica Azogues" />
	<meta property="og:description" content="{{noticias.descripcion}}" />
	<meta name="twitter:title" content="{{noticias.titulo}}" />
	<meta name="twitter:image" content="{{noticias.imagen.url}}" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="sumary" />
	<style>
		#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    margin-bottom: 8px;
}
#cssmenu {
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
    margin-left: 29px;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 15px 20px;
 /* border-left: 1px solid #1682ba;
  border-right: 1px solid #1682ba;
  border-top: 1px solid #1682ba;*/
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  /*font-weight: bold;*/
  text-decoration: none;

  /*color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);*/
  background-color: #F8F8F8; /*
  background: -webkit-linear-gradient(#36aae7, #1fa0e4);
  background: -moz-linear-gradient(#36aae7, #1fa0e4);
  background: -o-linear-gradient(#36aae7, #1fa0e4);
  background: -ms-linear-gradient(#36aae7, #1fa0e4);
  background: linear-gradient(#36aae7, #1fa0e4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);*/
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color: #1fa0e4;
}
#cssmenu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 0px solid #1682ba;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  /*border-bottom: 1px solid #1682ba;*/
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}

.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#cssmenu ul ul li a {
cursor: pointer;
  /* border-bottom: 1px solid #32373e; */
  /* border-left: 1px solid #32373e; */
  /* border-right: 1px solid #32373e; */
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  //color: #5A5959;
  color: #00405a;
  background: #F8F8F8 !important;
  border-bottom: 1px solid #E0DFDF;
  /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); */
}
#cssmenu ul ul li a:hover {
    color: rgb(31, 160, 228) !important;
}


#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {

  color: #00405a;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #ffffff;
}
	</style>
{% endblock %}
{% block imgCabecera %}
  <style>
    header#head {
      background-image: path({{cabecera.imagen.url}});
    }
  </style>
  {% endblock %}
{%block tituloCabecera%}
          <div class="leyenda-header hidden-xs clearfix">
            <div class="text-right">{{cabecera.titulo}}</div>
          </div>
{% endblock%}
{% block contenido %}

<div class="container-fluid color fucsia">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center"><strong>Servicios</strong></h3>
      <img src="{% static 'servicios.png' %}" width="80%" height="auto" class="imagen-ho" alt="">
    </div>
    <div class="col-md-8">
      <div id="cssmenu" class="menu-agenciasv30-container">
        <br>
        <ul id="menu-agenciasv30" class="menu">
          {% for c in servicios %}
            <li id="menu-item-475" class="menu-item menu-item-type-post_type menu-item-object-post"><a href="{% url 'servicios_individual' c.pk c.titulo|slugify %}" class="menu-image-title-after"><span class="menu-image-title">{{c.titulo}}</span></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}