{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Servicios</title>
  <link rel="stylesheet" href="{% static '/style.css' %}">
 </head>
<body>
  <h1 class="titulo-principal">Servicios de la Empresa Eléctrica Azogues C.A.</h1>
  <div class="servicios-grid">
    <a href="https://www.eea.gob.ec/servicios/2/nuevo-servicio/" class="servicio-box">
      <img src="/static/iconos/a_001 Nuevo_Servicio.png" alt="Nuevo Servicio">
      <span>Instalación de nuevo servicio de energía eléctrica</span>
    </a>
    <a href="https://www.eea.gob.ec/servicios/3/reubicacion-del-medidor/" class="servicio-box">
      <img src="/static/iconos/a_002_ReubicacionMedidor.png" alt="Reubicación de Medidor">
     <span>Reubicación Medidor</span>
    </a>
    <a href="https://www.eea.gob.ec/servicios/4/cambio-de-nombre/" class="servicio-box">
      <img src="/static/iconos/a_003_CambioMedidor.png" alt="Cambio de Medidor">
      <span>Cambio de medidor y/o acometida</span>
    </a>
    <a href="https://www.eea.gob.ec/servicios/6/desconexion-definitiva-del-servicio-electrico/" class="servicio-box">
      <img src="/static/iconos/a_004_DesconexionServicio.png" alt="Desconexion del Servicio">
      <span>Desconexión del servicio de energía eléctrica</span>
    </a>
    <a href="https://www.eea.gob.ec/servicios/16/exoneracion-discapacitados/" class="servicio-box">
      <img src="/static/iconos/a_005_Discapacidad.png" alt="Discapacidad">
      <span>Otorgamiento de subsidio para grupo prioritario de discapacidad</span>
    </a>
    <a href="https://www.eea.gob.ec/servicios/15/exoneracion-tercera-edad-y-renovacion/" class="servicio-box">
      <img src="/static/iconos/a_006_TerceraEdad.png" alt="Tercera Edad">
      <span>Otorgamiento de subsidio para grupo prioritario de tercera edad</span>
    </a>
    <a href="https://www.eea.gob.ec/servicios/12/cambio-de-tarifa/" class="servicio-box">
      <img src="/static/iconos/a_007_CambioTarifa.png" alt="Cambio de tarifa">
      <span>Cambio de tarifa</span>
    </a>
    <a href="https://www.eea.gob.ec/servicios/5/servicios-ocasionales/" class="servicio-box">
      <img src="/static/iconos/a_008_ServicioOcacional.png" alt="Servicio Ocasional">
      <span>Instalación del servicio ocasional de energía eléctrica</span>
    </a>
    <a href="https://www.eea.gob.ec/servicios/4/cambio-de-nombre/" class="servicio-box">
      <img src="/static/iconos/a_009_ModificacionTitular.png" alt="Modificacion Titular">
      <span>Modificación de titularidad del servicio</span>
    </a>
    <a href="https://www.eea.gob.ec/servicios/23/atencion-de-reclamos/" class="servicio-box">
      <img src="/static/iconos/a_010_AtencionReclamos.png" alt="Atencion de reclamos">
      <span>Atención de reclamos</span>
    </a>
    <a href="https://www.eea.gob.ec/servicios/8/aprobacion-de-disenos-electricos/" class="servicio-box">
      <img src="/static/iconos/a_011_AprobacionDiseños.png" alt="Aprobación de diseños">
      <span>Aprobación de diseños eléctricos</span>
    </a>
    <a href="https://www.eea.gob.ec/servicios/24/atencion-de-consultas/" class="servicio-box">
      <img src="/static/iconos/a_012_AtencionConsultas.png" alt="Atención de Consultas">
      <span>Atención de consultas</span>
    </a>
    <a href="#" class="servicio-box">
      <img src="/static/iconos/a_013_GIS.png" alt="Información Geoespacial (GIS)">
      <span>Provisión de información geoespacial (GIS)</span>
    </a>
    <a href="#" class="servicio-box">
      <img src="/static/iconos/a_014_AlumbradoPublico.png" alt="Alumbrado Público">
      <span>Instalación de sistemas de alumbrado público</span>
    </a>
    <a href="#" class="servicio-box">
      <img src="/static/iconos/a_015_ArrendamientoEstructuras.png" alt="Arrendamiento estructuras">
      <span>Arrendamiento de estructuras para telecomunicaciones</span>
    </a>
  </div>

  <a href="https://www.eea.gob.ec/" class="boton-salir">
    <button class="boton-salir">REGRESAR A LA PÁGINA PRINCIPAL</button>
  </a>

</body>
</html>
