@font-face {
    font-family: 'logo';
    src:
        path('../fonts/logo/fonts/logo0b2a.ttf') format('truetype'),
        path('../fonts/logo/fonts/logo0b2a.woff') format('woff'),
        path('../fonts/logo/fonts/logo0b2a.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'logo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
    content: "\e900";
}

